<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ABC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/wand.png" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fon/ts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:lalithkarthik.lslk@gmail.com">lalithkarthik.lslk@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 7093346348</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="../static/img/wand.png" alt="">
        <h1>Impact<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li class="dropdown"><a href="#"><span>Discover more</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/horcruxes">Voldemort's Horcruxes</a></li>
                  <li><a href="/marauders">The Marauders</a></li>
                  <li><a href="/voldemort">Voldemort's History</a></li>
                  <li><a href="/albus">Albus Dumbledore's History</a></li>
                  <li><a href="/harry">Harry's Quidditch things</a></li>
                  <li><a href="/history">Hogwarts - A History</a></li>
                  <li><a href="/three">Three Broomsticks</a></li>
                <li><a href="/grindelwald">History of Grindelwald</a></li>
              <li><a href="/sites">Diagon Alley and Hogsmeade</a></li>
              <li><a href="/bank">Gringotts</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Databases</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/wizards/1">Wizards and Witches</a></li>
                  <li><a href="/spells/1">Spells</a></li>
                  <li><a href="/elixirs/1">Elixirs</a></li>
                  <li><a href="/books/1">Books</a></li>
                  <li><a href="/movies/1">Movies</a></li>
                  <li><a href="/quotes">Quotes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Summaries</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/summaries/1">Philosopher's Stone</a></li>
                  <li><a href="/summaries/2">Chamber of Secrets</a></li>
                  <li><a href="/summaries/3">Prisoner of Azkaban</a></li>
                  <li><a href="/summaries/4">Goblet of Fire</a></li>
                  <li><a href="/summaries/5">Order of Phoenix</a></li>
                  <li><a href="/summaries/6">Half-Blood Prince</a></li>
                  <li><a href="/summaries/7">Deathly Hallows</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2 class="hfont-large">Welcome to <span>Impact</span></h2>
        <h6 class="description">The perfect website for Harry Potter fans to find out more about their favourite franchise, and of course, test themselves on the Harry Potter franchise, along with having a few Harry Potter themed coding games to try out!</h6>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../static/img/solemnly2.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-arms-up"></i></div>
              <h4 class="title"><a href="/wizards/1" class="stretched-link">Wizards and Witches</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-magic"></i></div>
              <h4 class="title"><a href="/spells/1" class="stretched-link">Spells</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cup-straw"></i></div>
              <h4 class="title"><a href="/elixirs/1" class="stretched-link">Elixirs</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-book"></i></div>
              <h4 class="title"><a href="/books/1" class="stretched-link">Books</a></h4>
            </div>
          </div>

          <!--End Icon Box -->
        </div>
        <div class="row gy-4 mt-5">
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-film"></i></div>
              <h4 class="title"><a href="/movies/1" class="stretched-link">Movies</a></h4>
            </div>
          </div>
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-chat-quote"></i></div>
              <h4 class="title"><a href="/quotes" class="stretched-link">Quotes</a></h4>
            </div>
          </div>
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-joystick"></i></div>
              <h4 class="title"><a href="https://github.com/Lalithkarthik/Python-Harry-Potter-Games" class="stretched-link">Games on Python</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h1 class="hfont-medium">About this website</h1>
          <h6></h6>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <p>Welcome to this website. We have quite a few things available for you to explore in this website, which are sure to have you hooked back onto Harry Potter. Go ahead at your own risk, as you will most definitely feel like re-reading the books or re-watching the series, whichever you prefer. So make sure to have enough time on your hands!</p>
            <p>Not only that, even if you're not a fan of Harry Potter yet and are unsure about starting it, this is still the right website for you. You can go through the summaries available on our website whether the series offers what you want, and whether it interests you or not. So make sure to check that out as well! </p>
            <p>We have quite a few games and quizzes available, through which you can test your knowledge about the Harry Potter Franchise. We not only have these quizzes through which you can test yourself and get scores, but we also have personality tests through which you can find out amazing things like which Hogwarts house you would've belonged to, what your Patronus would be, etc. Be sure to try all of them and compare results with your friends!</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p>
                There is a large amount of data available on our website, available in quite an intriguing way for you to explore. The data available with us includes:
              </p>
              <ul>
                <li><i class="bi bi-arrow-right"></i> Names and characteristics of a few wizards and witches from the Harry Potter franchise.</li>
                <li><i class="bi bi-arrow-right"></i> A large amount of spells, their incantations and their effects from the series.</li>
                <li><i class="bi bi-arrow-right"></i> Elixirs or potions, their difficulty levels, characteristics, ingredients, their effects, and also possible side effects. </li>
                <li><i class="bi bi-arrow-right"></i> Information on books and movies of the franchise. </li>
                <li><i class="bi bi-arrow-right"></i> A random quote generator as well! </li>
              </ul>
              <p>
               So sit back, relax and enjoy going through the website and going on a trip down the memory lane, back to the nostalgic days of reading or watching one of the best series of our times. Have fun!
              </p>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="../static/img/bootstrap.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/python.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/turtle.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/pycharm.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/tkinter.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/html_css.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/typeform.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/canva.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/flask.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/img/jinja.png" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container mt-4">
      <div class="row gy-1">
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/quotes">Random quote generator</a></li>
            <li><a href="/spells/1">Spells database</a></li>
            <li><a href="/wizards/1">Wizards and witches database</a></li>
          </ul>
        </div>
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful links 2</h4>
          <ul>
            <li><a href="/elixirs/1">Elixirs database</a></li>
            <li><a href="/books/1">Books database</a></li>
            <li><a href="/movies/1">Movies database</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +91 7093346348<br>
            <strong>Email:</strong> lalithkarthik.lslk@gmail.com<br>
          </p>
        </div>
    </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
</body>
</html>