<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ABC - Spells</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/wand.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body background="../static/img/stars.jpg">

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">lalithkarthik.lslk@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 7093346348</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../static/img/wand.png" alt="">
        <h1>Impact<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li class="dropdown"><a href="#"><span>Discover more</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/horcruxes">Voldemort's Horcruxes</a></li>
                  <li><a href="/marauders">The Marauders</a></li>
                  <li><a href="/voldemort">Voldemort's History</a></li>
                  <li><a href="/albus">Albus Dumbledore's History</a></li>
                  <li><a href="/harry">Harry's Quidditch things</a></li>
                  <li><a href="/history">Hogwarts - A History</a></li>
                  <li><a href="/three">Three Broomsticks</a></li>
                <li><a href="/grindelwald">History of Grindelwald</a></li>
              <li><a href="/sites">Diagon Alley and Hogsmeade</a></li>
              <li><a href="/bank">Gringotts</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Databases</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/wizards/1">Wizards and Witches</a></li>
                  <li><a href="/spells/1">Spells</a></li>
                  <li><a href="/elixirs/1">Elixirs</a></li>
                  <li><a href="/books/1">Books</a></li>
                  <li><a href="/movies/1">Movies</a></li>
                  <li><a href="/quotes">Quotes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Summaries</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/summaries/1">Philosopher's Stone</a></li>
                  <li><a href="/summaries/2">Chamber of Secrets</a></li>
                  <li><a href="/summaries/3">Prisoner of Azkaban</a></li>
                  <li><a href="/summaries/4">Goblet of Fire</a></li>
                  <li><a href="/summaries/5">Order of Phoenix</a></li>
                  <li><a href="/summaries/6">Half-Blood Prince</a></li>
                  <li><a href="/summaries/7">Deathly Hallows</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="spells hfont-large">Spells</h1>
              <h5 class="spells">Enter a number between 1 and 306 at the end of the above url in the search bar in order to find out about the spell corresponding to that number!</h5>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->


    <div class="container mt-5 mb-5">
      <div class="row gy-1">
        <div class="col-8">
          <h1 class="spells">Number chosen: {{ number }}</h1>
        <h1 class="spells">Spell: {{ spells }}</h1>
        <h1 class="spells">Incantation: {{ incantation }}</h1>
        <h1 class="spells">Action: {{ action }}</h1>
        </div>

        <div class="col-4">
          <input class="anti_spells_searchy" id="searchbar" placeholder="Search for a spell or an incantation or an effect: " onkeyup="search_spell()" type="text" name="search">
          <ul class="spells" id="list-holder">
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row gy-1">
        <div class="col-10 col-2">
        <h2 class="spells"><a class="spells" href="/spells/{{number-1}}">Previous</a></h2>
        </div>
        <div class="col-2 col-1">
        <h2 class="spells"><a class="spells" href="/spells/{{number+1}}">Next</a></h2>
        </div>
      </div>
    </div>


    <footer id="footer" class="footer">
    <div class="container mt-4">
      <div class="row gy-1">
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/spells/1">Spells database</a></li>
            <li><a href="/wizards/1">Wizards and witches database</a></li>
          </ul>
        </div>
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful links 2</h4>
          <ul>
            <li><a href="/elixirs/1">Elixirs database</a></li>
            <li><a href="/books/1">Books database</a></li>
            <li><a href="/movies/1">Movies database</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +91 7093346348<br>
            <strong>Email:</strong> lalithkarthik.lslk@gmail.com<br>
          </p>
        </div>
    </div>
    </div>
  </footer><!-- End Footer -->
  </main>
  <script src="../static/spells_search.js"></script>
</body>
<style>

body {
  background-image: url('../static/img/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

 .anti_spells_searchy {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.anti_spells_searchy::placeholder {
  color: black;
  font-family: "Montserrat"
}
</style>
</html>