<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ABC - Voldemort's History</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/wand.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">lalithkarthik.lslk@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 7093346348</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../static/img/wand.png" alt="">
        <h1>Impact<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
            <li class="dropdown"><a href="#"><span>Discover more</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/horcruxes">Voldemort's Horcruxes</a></li>
                  <li><a href="/marauders">The Marauders</a></li>
                  <li><a href="/voldemort">Voldemort's History</a></li>
                  <li><a href="/albus">Albus Dumbledore's History</a></li>
                  <li><a href="/harry">Harry's Quidditch things</a></li>
                  <li><a href="/history">Hogwarts - A History</a></li>
                  <li><a href="/three">Three Broomsticks</a></li>
                <li><a href="/grindelwald">History of Grindelwald</a></li>
              <li><a href="/sites">Diagon Alley and Hogsmeade</a></li>
              <li><a href="/bank">Gringotts</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Databases</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/wizards/1">Wizards and Witches</a></li>
                  <li><a href="/spells/1">Spells</a></li>
                  <li><a href="/elixirs/1">Elixirs</a></li>
                  <li><a href="/books/1">Books</a></li>
                  <li><a href="/movies/1">Movies</a></li>
                  <li><a href="/quotes">Quotes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Summaries</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/summaries/1">Philosopher's Stone</a></li>
                  <li><a href="/summaries/2">Chamber of Secrets</a></li>
                  <li><a href="/summaries/3">Prisoner of Azkaban</a></li>
                  <li><a href="/summaries/4">Goblet of Fire</a></li>
                  <li><a href="/summaries/5">Order of Phoenix</a></li>
                  <li><a href="/summaries/6">Half-Blood Prince</a></li>
                  <li><a href="/summaries/7">Deathly Hallows</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2 class="hfont-large-bread">Voldemort's History</h2>
              <p>Voldemort, also known as Lord Voldemort, is a prominent character in the Harry Potter series created by J.K. Rowling. He is depicted as a powerful and dark wizard who seeks to gain immortality and control over the wizarding world. </p>
          </div>
            </div>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="../static/img/voldemort/1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/voldemort/2.png" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/voldemort/3.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/voldemort/4.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/voldemort/5.jpg" alt="">
              </div>

                <div class="swiper-slide">
                <img src="../static/img/voldemort/6.jpg" alt="">
              </div>

                <div class="swiper-slide">
                <img src="../static/img/voldemort/7.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-1">
          </div>

          <div class="col-lg-10">
            <div class="portfolio-description">
              <h2 class="hfont-large-port">History of Voldemort</h2>
                <p>
                    Early Life: Voldemort, whose birth name is Tom Marvolo Riddle, was born on December 31, 1926, in an orphanage in London. His mother was a witch and a descendant of Salazar Slytherin, one of the founders of Hogwarts School of Witchcraft and Wizardry.
                </p>
                <p>
                    Hogwarts Years: Tom Riddle attended Hogwarts and was sorted into the Slytherin house. He was known for his exceptional magical abilities and his obsession with power. During his time at Hogwarts, he delved into dark magic and began creating Horcruxes, objects that contained pieces of his soul.
                </p>
                <p>
                    Rise to Power: After leaving Hogwarts, Voldemort started gathering followers and formed a group called the Death Eaters. He sought to establish a pure-blood wizarding society and eliminate those he considered "impure" or "mudbloods". Voldemort's reign of terror began, and he became known as the Dark Lord.
                </p>
                <p>
                    First Defeat: Voldemort's power grew, and he targeted the Potters, a family that stood against him. On October 31, 1981, he attempted to kill Harry Potter, a baby with a prophecy that foretold his downfall. However, his curse backfired, leaving him weakened and without a physical body.
                </p>
                <p>
                    Return to Power: For the next decade, Voldemort existed in a weakened and spectral form, seeking ways to regain his strength and return to power. He manipulated his loyal followers and orchestrated events to achieve his goals.
                </p>
                <p>
                    Second Rise to Power: In the fourth book, "Harry Potter and the Goblet of Fire," Voldemort successfully regained his physical form and resumed his campaign of terror. He waged war against the wizarding world, leading to the Battle of Hogwarts, a climactic confrontation between his forces and those loyal to Harry Potter.
                </p>
                <p>
                    Final Defeat: In the end, Voldemort's quest for immortality and power proved to be his downfall. Harry Potter, along with his friends and allies, fought against him, ultimately leading to Voldemort's defeat in the Battle of Hogwarts on May 2, 1998.
                </p>
            </div>
          </div>

          <div class="col-lg-1">
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="container mt-4">
      <div class="row gy-1">
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/spells/1">Spells database</a></li>
            <li><a href="/wizards/1">Wizards and witches database</a></li>
          </ul>
        </div>
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful links 2</h4>
          <ul>
            <li><a href="/elixirs/1">Elixirs database</a></li>
            <li><a href="/books/1">Books database</a></li>
            <li><a href="/movies/1">Movies database</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +91 7093346348<br>
            <strong>Email:</strong> lalithkarthik.lslk@gmail.com<br>
          </p>
        </div>
    </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>