<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ABC - Voldemort's Horcruxes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/wand.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">lalithkarthik.lslk@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 7093346348</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../static/img/wand.png" alt="">
        <h1>Impact<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
            <li class="dropdown"><a href="#"><span>Discover more</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/horcruxes">Voldemort's Horcruxes</a></li>
                  <li><a href="/marauders">The Marauders</a></li>
                  <li><a href="/voldemort">Voldemort's History</a></li>
                  <li><a href="/albus">Albus Dumbledore's History</a></li>
                  <li><a href="/harry">Harry's Quidditch things</a></li>
                  <li><a href="/history">Hogwarts - A History</a></li>
                  <li><a href="/three">Three Broomsticks</a></li>
                <li><a href="/grindelwald">History of Grindelwald</a></li>
              <li><a href="/sites">Diagon Alley and Hogsmeade</a></li>
              <li><a href="/bank">Gringotts</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Databases</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/wizards/1">Wizards and Witches</a></li>
                  <li><a href="/spells/1">Spells</a></li>
                  <li><a href="/elixirs/1">Elixirs</a></li>
                  <li><a href="/books/1">Books</a></li>
                  <li><a href="/movies/1">Movies</a></li>
                  <li><a href="/quotes">Quotes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Summaries</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                  <li><a href="/summaries/1">Philosopher's Stone</a></li>
                  <li><a href="/summaries/2">Chamber of Secrets</a></li>
                  <li><a href="/summaries/3">Prisoner of Azkaban</a></li>
                  <li><a href="/summaries/4">Goblet of Fire</a></li>
                  <li><a href="/summaries/5">Order of Phoenix</a></li>
                  <li><a href="/summaries/6">Half-Blood Prince</a></li>
                  <li><a href="/summaries/7">Deathly Hallows</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2 class="hfont-large-bread">Voldemort's Horcruxes</h2>
              <p>In the Harry Potter franchise, a Horcrux is an object in which a Dark wizard or witch has hidden a detached fragment of their soul in order to become immortal. Lord Voldemort, the main antagonist, created a total of seven Horcruxes.</p>
          </div>
            </div>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="../static/img/horcruxes/1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/horcruxes/2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/horcruxes/3.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/horcruxes/4.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="../static/img/horcruxes/5.jpg" alt="">
              </div>

                <div class="swiper-slide">
                <img src="../static/img/horcruxes/6.jpg" alt="">
              </div>

                <div class="swiper-slide">
                <img src="../static/img/horcruxes/7.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-1">
          </div>

          <div class="col-lg-10">
            <div class="portfolio-description">
              <h2 class="hfont-large-port">The Horcruxes</h2>
                <p>
                    Tom Riddle's Diary: During his time at Hogwarts, Tom Riddlediscovered the process of creating a Horcrux through his research on dark magic. He used his own diary as the first Horcrux. He enchanted the diary with a piece of his soul, ensuring that a part of him would remain in the mortal world even if his body was destroyed. The diary was then used to possess and control Ginny Weasley, causing her to open the Chamber of Secrets.
                </p>
                <p>
                    Marvolo Gaunt's Ring: Voldemort discovered that his family's heirloom, the ring of Marvolo Gaunt, possessed powerful magical properties. He used a curse to hide the Horcrux and protect it from being discovered. In order to create the Horcrux, he committed a murder, which is considered an act of supreme evil in the wizarding world.
                </p>
                <p>
                    Salazar Slytherin's Locket: After stealing the locket, which belonged to Salazar Slytherin, Voldemort turned it into a Horcrux. He placed powerful enchantments on it to guard it and ensure its protection. The process of creating this Horcrux involved tearing a piece of his soul through the murder and enchanting the object.
                </p>
                <p>
                    Helga Hufflepuff's Cup: Voldemort stole Helga Hufflepuff's cup from the vaults of Gringotts Bankand made it into a Horcrux. He used powerful protective spells to keep it hidden and safeguarded. The creation of this Horcrux involved committing yet another murder to split his soul and bind it to the cup.
                </p>
                <p>
                    Rowena Ravenclaw's Lost Diadem: After discovering the lost diadem of Rowena Ravenclaw, Voldemort turned it into a Horcrux. He hid it in the Room of Requirement at Hogwarts, adding layers of protective enchantments. The process of creating this Horcrux required him to commit another murder, further fragmenting his soul.
                </p>
                <p>
                    Nagini the Snake: Voldemort made his pet snake, Nagini, into a Horcrux using a ritual. He performed a dark magicritual to bind a piece of his soul to her, granting her a form of immortality. This ritual involved an act of murder as well.
                </p>
                <p>
                    Harry Potter himself (unknowingly): Voldemort unintentionally made Harry Potterinto a Horcrux when he attempted to kill him as a baby. The failed killing curse rebounded, and a piece of Voldemort's shattered soul latched onto Harry, making him an unintended Horcrux.
                </p>
            </div>
          </div>

          <div class="col-lg-1">
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="container mt-4">
      <div class="row gy-1">
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/spells/1">Spells database</a></li>
            <li><a href="/wizards/1">Wizards and witches database</a></li>
          </ul>
        </div>
        <div class="col-lg-1 col-6 footer-links"></div>
        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful links 2</h4>
          <ul>
            <li><a href="/elixirs/1">Elixirs database</a></li>
            <li><a href="/books/1">Books database</a></li>
            <li><a href="/movies/1">Movies database</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +91 7093346348<br>
            <strong>Email:</strong> lalithkarthik.lslk@gmail.com<br>
          </p>
        </div>
    </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>